@import "./reset.css";

@font-face {
  font-family: "Better VCR";
  src: url("/fonts/BetterVCR-latin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "DSEG 14";
  src: url("/fonts/DSEG14ClassicMini-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: "Eurostile";
  src: url("/fonts/Eurostile-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: block;
}

*:focus {
  outline: none;
}

*:focus-visible {
  outline: 2px solid lime;
  outline-offset: 3px;
}

body {
  font-synthesis: none;
}

:root {
  --phosphor-active: rgb(94, 191, 252);
  --phosphor-inactive: color-mix(
    in srgb,
    var(--phosphor-active) 15%,
    transparent
  );

  --phosphor-glow: 0 0 2px color-mix(in srgb, currentColor 50%, transparent), 0
    0 4px color-mix(in srgb, currentColor 40%, transparent), 0 0 8px
    color-mix(in srgb, currentColor 30%, transparent);
}
