---
import { getPagination } from "@utils/getPagination";

interface Props {
  channelId: string;
}

const { channelId } = Astro.props;

const { prev, next } = await getPagination(channelId);
---

<svg
  width="328"
  height="64"
  viewBox="0 0 328 64"
  fill="none"
  xmlns="http://www.w3.org/2000/svg"
  class="buttons"
  role="group"
>
  <title>Hypertext TV Controls</title>

  <!-- Button group inset -->
  <g>
    <path
      d="M32 0C32.2486 0 32.497 0.00303691 32.7451 0.00878906C32.7959 0.00995006 32.8467 0.0112977 32.8975 0.0126953C33.3777 0.0261061 33.857 0.0501524 34.335 0.0849609C34.4429 0.0927431 34.5506 0.101502 34.6582 0.110352C34.7468 0.117703 34.8353 0.125706 34.9238 0.133789C37.0633 0.327595 39.1416 0.732077 41.1387 1.32617C41.1719 1.33601 41.2051 1.34552 41.2383 1.35547C41.3914 1.40158 41.5441 1.44874 41.6963 1.49707C41.7534 1.51514 41.8102 1.53434 41.8672 1.55273C42.0725 1.61922 42.277 1.68731 42.4805 1.75781C42.6116 1.80302 42.7425 1.84859 42.873 1.89551C42.9533 1.92449 43.0333 1.95379 43.1133 1.9834C45.0467 2.69576 46.9154 3.59476 48.6914 4.67383L70.9287 17.1846C77.1891 20.9883 84.3739 22 91.6992 22H308C319.046 22 328 31.9543 328 43C328 54.0457 319.046 64 308 64H36V63.751C34.6896 63.9144 33.3547 64 32 64C14.3269 64 0 49.6731 0 32C0 14.3269 14.3269 0 32 0Z"
      fill="url(#button-group-inset-gradient)"></path>
  </g>

  <!-- Power button -->
  <g>
    <rect
      x="5"
      y="5"
      width="54"
      height="54"
      rx="27"
      fill="#141414"
      class="button-inset"></rect>

    <a href="#" role="button" aria-label="Power" id="power" data-power="on">
      <rect
        x="8"
        y="8"
        width="48"
        height="48"
        rx="24"
        class="button"
        shape-rendering="geometricPrecision"></rect>
      <path
        d="M32 33.0859C30.9609 33.0859 30.291 32.3613 30.291 31.2676V22.9277C30.291 21.834 30.9609 21.1094 32 21.1094C33.0391 21.1094 33.709 21.834 33.709 22.9277V31.2676C33.709 32.3613 33.0391 33.0859 32 33.0859ZM32 43.5586C25.9844 43.5586 21.1035 38.6777 21.1035 32.6758C21.1035 29.75 22.2793 27.0703 24.0566 25.2656C25.5879 23.6523 27.9805 25.5664 26.3535 27.3711C25.0547 28.7383 24.248 30.5977 24.248 32.6758C24.248 36.9551 27.7207 40.4141 32 40.4141C36.2793 40.4141 39.7383 36.9551 39.7383 32.6758C39.7383 30.6113 38.9453 28.752 37.6465 27.3711C36.0195 25.5664 38.4258 23.6387 39.957 25.2656C41.707 27.084 42.8828 29.7227 42.8828 32.6758C42.8828 38.6777 38.0156 43.5586 32 43.5586Z"
        fill="#676767"
        class="button-label"></path>
    </a>
  </g>

  <!-- Channel buttons -->
  <g>
    <path
      d="M103.84 7C105.112 7 105.616 7.10805 106.024 7.45605C106.36 7.74404 106.564 8.16415 106.636 8.75195C106.66 8.94395 106.672 9.18433 106.684 9.73633H105.16C105.136 8.45234 104.992 8.32031 103.624 8.32031C102.604 8.32031 102.16 8.40386 101.92 8.63184C101.716 8.83584 101.632 9.12433 101.608 9.73633C101.596 9.94002 101.596 9.94077 101.596 11.0322C101.596 13.66 101.704 13.8281 103.42 13.8281C104.98 13.8281 105.244 13.6357 105.244 12.5557C105.244 12.4837 105.244 12.3755 105.232 12.2197H106.756V12.4961C106.756 13.6959 106.636 14.1399 106.204 14.5479C105.952 14.7879 105.532 14.9922 105.088 15.0762C104.836 15.1122 104.128 15.1484 103.42 15.1484C102.04 15.1484 101.668 15.0881 101.14 14.7881C100.444 14.4161 100.144 13.8157 100.06 12.6758C100.024 12.2197 100 11.2358 100 10.5039C100 8.83598 100.156 8.224 100.696 7.70801C101.296 7.13214 101.896 7.00001 103.84 7ZM109.842 10.3486H113.55V7.07227H115.086V15.0762H113.55V11.6562H109.842V15.0762H108.306V7.07227H109.842V10.3486ZM124.091 15.0762H122.52L122.003 13.54H118.547L118.056 15.0762H116.447L119.111 7.07227H121.379L124.091 15.0762ZM130.04 11.1279C130.34 11.7279 130.437 11.9321 130.977 13.084L131.288 13.7441H131.336L131.324 13.2285C131.288 12.4846 131.288 12.4243 131.288 11.6807V7.07227H132.812V15.0762H130.232L127.94 10.6846C127.796 10.3846 127.64 10.0601 127.16 8.95605L126.896 8.39258H126.849L126.86 8.9082C126.896 9.6762 126.896 9.73647 126.896 10.4805V15.0762H125.385V7.07227H127.952L130.04 11.1279ZM139.477 11.1279C139.777 11.7279 139.872 11.9323 140.412 13.084L140.725 13.7441H140.772L140.761 13.2285C140.725 12.4846 140.725 12.4243 140.725 11.6807V7.07227H142.248V15.0762H139.668L137.376 10.6846C137.232 10.3846 137.077 10.0601 136.597 8.95605L136.332 8.39258H136.284L136.296 8.9082C136.332 9.6762 136.332 9.73647 136.332 10.4805V15.0762H134.82V7.07227H137.389L139.477 11.1279ZM149.729 8.34473H145.792V10.4199H149.524V11.5479H145.792V13.8047H149.765V15.0762H144.257V7.07227H149.729V8.34473ZM153.025 13.7324H156.757V15.0762H151.489V7.07227H153.025V13.7324ZM118.907 12.4004H121.655L120.275 8.24805L118.907 12.4004Z"
      fill="#919191"
      class="label"></path>
    <rect
      x="67"
      y="27"
      width="122"
      height="32"
      rx="16"
      fill="#141414"
      class="button-inset"></rect>
    <a href={prev} aria-label="Previous Channel" class="channel-button">
      <path
        d="M70 43C70 35.8203 75.8203 30 83 30H123C124.657 30 126 31.3431 126 33V53C126 54.6569 124.657 56 123 56H83C75.8203 56 70 50.1797 70 43V43Z"
        class="button"
        shape-rendering="geometricPrecision"></path>
      <path
        d="M103.292 40.0986C103.292 40.3516 103.196 40.5635 103.046 40.8848L100.168 46.8936C99.9219 47.4062 99.5869 47.6729 99.1494 47.6729C98.7119 47.6729 98.377 47.4062 98.1309 46.8936L95.2529 40.8848C95.1025 40.5635 95 40.3447 95 40.0986C95 39.5859 95.3965 39.1416 96.0596 39.1416H102.239C102.902 39.1416 103.292 39.5859 103.292 40.0986Z"
        fill="#676767"
        class="button-label"></path>
    </a>
    <a href={next} aria-label="Next Channel" class="channel-button">
      <path
        d="M130 33C130 31.3431 131.343 30 133 30H173C180.18 30 186 35.8203 186 43V43C186 50.1797 180.18 56 173 56H133C131.343 56 130 54.6569 130 53V33Z"
        class="button"
        shape-rendering="geometricPrecision"></path>
      <path
        d="M161.292 46.7295C161.292 47.2422 160.902 47.6865 160.239 47.6865H154.06C153.396 47.6865 153 47.2422 153 46.7295C153 46.4766 153.103 46.2646 153.253 45.9434L156.131 39.9346C156.377 39.4219 156.712 39.1553 157.149 39.1553C157.587 39.1553 157.922 39.4219 158.168 39.9346L161.046 45.9434C161.196 46.2646 161.292 46.4766 161.292 46.7295Z"
        fill="#676767"
        class="button-label"></path>
    </a>
  </g>

  <!-- Home button -->
  <g>
    <path
      d="M219.871 6.92383C221.011 6.92383 221.54 6.9955 222.008 7.1875C222.728 7.51147 223.135 8.08781 223.291 9.02344C223.351 9.38344 223.375 9.85192 223.375 10.9199C223.375 12.8396 223.304 13.3679 222.968 13.9678C222.68 14.4717 222.152 14.8198 221.432 14.9639C221.108 15.0359 220.471 15.0723 219.691 15.0723C218.503 15.0723 217.903 14.9759 217.411 14.7119C216.775 14.3639 216.452 13.8478 216.308 12.96C216.248 12.588 216.235 12.2039 216.235 11.208C216.235 9.14401 216.319 8.55577 216.691 7.96777C216.991 7.49981 217.52 7.16422 218.18 7.03223C218.492 6.96027 219.151 6.92384 219.871 6.92383ZM209.244 10.2725H212.952V6.99609H214.488V15H212.952V11.5801H209.244V15H207.708V6.99609H209.244V10.2725ZM229.016 10.7041C229.16 11.076 229.243 11.3405 229.579 12.3604L229.759 12.9238H229.808L229.987 12.3721C230.299 11.3641 230.395 11.0878 230.527 10.7158L231.943 6.99609H234.463V15H232.951V10.6318C232.951 10.0561 232.964 9.89999 233.012 8.85645L233.035 8.26855H232.987L232.808 8.82031C232.472 9.86424 232.387 10.1403 232.255 10.4883L230.491 15H229.111L227.335 10.5244C227.179 10.1404 227.095 9.88829 226.759 8.85645L226.579 8.30371H226.531L226.567 8.87988C226.615 9.88771 226.627 10.14 226.627 10.6318V15H225.115V6.99609H227.587L229.016 10.7041ZM241.944 8.26855H238.009V10.3438H241.74V11.4717H238.009V13.7285H241.98V15H236.473V6.99609H241.944V8.26855ZM219.728 8.24414C218.756 8.24414 218.432 8.30387 218.18 8.55566C217.916 8.80763 217.807 9.22772 217.795 10.0195V11.3281C217.795 12.7319 217.856 13.0918 218.144 13.4277C218.372 13.6917 218.731 13.7519 219.955 13.752C221.131 13.752 221.455 13.6198 221.659 13.0439C221.803 12.6479 221.815 12.4434 221.815 10.9434C221.815 9.68382 221.815 9.64734 221.755 9.27539C221.683 8.80773 221.491 8.50795 221.191 8.37598C220.927 8.26798 220.627 8.24414 219.728 8.24414Z"
      fill="#919191"
      class="label"></path>
    <rect
      x="194"
      y="27"
      width="62"
      height="32"
      rx="16"
      fill="#141414"
      class="button-inset"></rect>
    <a href="/" role="button" aria-label="Home" id="home-button">
      <rect
        x="197"
        y="30"
        width="56"
        height="26"
        rx="13"
        class="button"
        shape-rendering="geometricPrecision"></rect>
    </a>
  </g>

  <!-- Menu button -->
  <g>
    <path
      d="M304.538 12.4082C304.538 13.5721 304.779 13.752 306.339 13.752C307.898 13.7519 308.114 13.5835 308.114 12.3477V6.99609H309.65V12.3242C309.65 13.3081 309.53 13.8482 309.23 14.2441C308.99 14.5561 308.642 14.7957 308.187 14.9277C307.875 15.0237 307.25 15.0723 306.326 15.0723C305.15 15.0723 304.611 15.0116 304.143 14.8076C303.279 14.4356 303.003 13.8601 303.003 12.4082V6.99609H304.538V12.4082ZM278.9 10.7041C279.044 11.076 279.128 11.3405 279.464 12.3604L279.644 12.9238H279.692L279.872 12.3721C280.184 11.3641 280.28 11.0878 280.412 10.7158L281.828 6.99609H284.348V15H282.836V10.6318C282.836 10.0561 282.849 9.89999 282.896 8.85645L282.92 8.26855H282.872L282.692 8.82031C282.356 9.86424 282.272 10.1403 282.14 10.4883L280.376 15H278.996L277.22 10.5244C277.064 10.1404 276.98 9.88829 276.644 8.85645L276.464 8.30371H276.416L276.452 8.87988C276.5 9.88771 276.512 10.14 276.512 10.6318V15H275V6.99609H277.472L278.9 10.7041ZM291.83 8.26855H287.894V10.3438H291.626V11.4717H287.894V13.7285H291.866V15H286.358V6.99609H291.83V8.26855ZM298.247 11.0518C298.547 11.6517 298.643 11.8561 299.183 13.0078L299.495 13.668H299.543L299.531 13.1523C299.495 12.4085 299.495 12.3481 299.495 11.6045V6.99609H301.019V15H298.438L296.146 10.6084C296.002 10.3084 295.847 9.98388 295.367 8.87988L295.103 8.31641H295.055L295.066 8.83203C295.102 9.60003 295.103 9.6603 295.103 10.4043V15H293.591V6.99609H296.159L298.247 11.0518Z"
      fill="#919191"
      class="label"></path>
    <rect
      x="261"
      y="27"
      width="62"
      height="32"
      rx="16"
      fill="#141414"
      class="button-inset"></rect>
    <a href="#" role="button" aria-label="Open Menu" id="menu-button">
      <rect
        x="264"
        y="30"
        width="56"
        height="26"
        rx="13"
        class="button"
        shape-rendering="geometricPrecision"></rect>
    </a>
  </g>

  <defs>
    <filter
      id="button-filter"
      x="-10%"
      y="-10%"
      width="120%"
      height="120%"
      filterUnits="objectBoundingBox"
      color-interpolation-filters="sRGB"
    >
      <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"></feColorMatrix>
      <feOffset dy="4"></feOffset>
      <feGaussianBlur stdDeviation="2"></feGaussianBlur>
      <feComposite in2="hardAlpha" operator="out"></feComposite>
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.2 0"></feColorMatrix>
      <feBlend
        mode="normal"
        in2="BackgroundImageFix"
        result="effect1_dropShadow_2001_30"></feBlend>
      <feBlend
        mode="normal"
        in="SourceGraphic"
        in2="effect1_dropShadow_2001_30"
        result="shape"></feBlend>
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"></feColorMatrix>
      <feMorphology
        radius="2"
        operator="erode"
        in="SourceAlpha"
        result="effect2_innerShadow_2001_30"></feMorphology>
      <feOffset dy="8"></feOffset>
      <feGaussianBlur stdDeviation="4"></feGaussianBlur>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
      ></feComposite>
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.412278 0 0 0 0 0.412278 0 0 0 0 0.412278 0 0 0 0.18 0"
      ></feColorMatrix>
      <feBlend mode="normal" in2="shape" result="effect2_innerShadow_2001_30"
      ></feBlend>
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"></feColorMatrix>
      <feOffset dy="-4"></feOffset>
      <feGaussianBlur stdDeviation="2.5"></feGaussianBlur>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
      ></feComposite>
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.45 0"></feColorMatrix>
      <feBlend
        mode="normal"
        in2="effect2_innerShadow_2001_30"
        result="effect3_innerShadow_2001_30"></feBlend>
      <feColorMatrix
        in="SourceAlpha"
        type="matrix"
        values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
        result="hardAlpha"></feColorMatrix>
      <feOffset dy="1"></feOffset>
      <feGaussianBlur stdDeviation="1"></feGaussianBlur>
      <feComposite in2="hardAlpha" operator="arithmetic" k2="-1" k3="1"
      ></feComposite>
      <feColorMatrix
        type="matrix"
        values="0 0 0 0 0.833703 0 0 0 0 0.833703 0 0 0 0 0.833703 0 0 0 0.65 0"
      ></feColorMatrix>
      <feBlend
        mode="normal"
        in2="effect3_innerShadow_2001_30"
        result="effect4_innerShadow_2001_30"></feBlend>
      <feComposite
        in="effect4_innerShadow_2001_30"
        in2="SourceAlpha"
        operator="in"
        result="clippedResult"></feComposite>
    </filter>
    <linearGradient
      id="button-group-inset-gradient"
      x1="0.5"
      y1="0"
      x2="0.5"
      y2="1"
      gradientUnits="objectBoundingBox"
    >
      <stop offset="0.25" stop-color="#090909" stop-opacity="0.5"></stop>
      <stop offset="0.725962" stop-color="#2D2D2D" stop-opacity="0.65"></stop>
      <stop offset="1" stop-color="#4E4E4E" stop-opacity="0.3"></stop>
    </linearGradient>
    <linearGradient
      id="button-gradient"
      x1="0.5"
      y1="0"
      x2="0.5"
      y2="1"
      gradientUnits="objectBoundingBox"
    >
      <stop stop-color="#858585"></stop>
      <stop offset="1" stop-color="#5F5F5F"></stop>
    </linearGradient>
    <linearGradient
      id="button-gradient-active"
      x1="0.5"
      y1="0"
      x2="0.5"
      y2="1"
      gradientUnits="objectBoundingBox"
    >
      <stop stop-color="#323232"></stop>
      <stop offset="1" stop-color="#5F5F5F"></stop>
    </linearGradient>
    <linearGradient
      id="button-power-on"
      x1="0.5"
      y1="0"
      x2="0.5"
      y2="1"
      gradientUnits="objectBoundingBox"
    >
      <stop stop-color="#3A3A3A"></stop>
      <stop offset="1" stop-color="#6A6A6A"></stop>
    </linearGradient>
  </defs>
</svg>

<style>
  .buttons {
    grid-area: buttons;

    .button {
      fill: url(#button-gradient);
      filter: url(#button-filter);
    }

    a {
      touch-action: manipulation; /* Prevent double-tap zoom on iOS */

      &[data-disabled="true"] {
        pointer-events: none;
      }

      &[aria-label="Power"] {
        border-radius: 50%;
      }

      &[aria-label="Previous Channel"] {
        border-radius: 1rem 3px 3px 1rem;
      }

      &[aria-label="Next Channel"] {
        border-radius: 3px 1rem 1rem 3px;
      }

      &[aria-label="Open Menu"] {
        border-radius: 1rem;
      }

      /* Active state for regular buttons */
      &:active .button {
        fill: url(#button-gradient-active);
        filter: none;
      }

      /* Power button states: active (darkest), on (medium), off (brightest) */
      &[aria-label="Power"]:active .button {
        fill: url(#button-gradient-active);
        filter: none;
      }

      &[aria-label="Power"][data-power="on"]:not(:active) .button {
        fill: url(#button-power-on);
        filter: none;
      }

      &[aria-label="Power"][data-power="off"]:not(:active) .button {
        fill: url(#button-gradient);
        filter: url(#button-filter);
      }
    }

    .label {
      filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.25));
    }

    .button-inset {
      filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 0.1));
    }

    .button-label {
      fill: rgba(0, 0, 0, 0.3);
      filter: drop-shadow(0 1px 1px rgba(255, 255, 255, 0.2));
    }
  }
</style>

<script>
  import * as Fathom from "fathom-client";
  import {
    playRandomClickOn,
    playRandomClickOff,
    playBigClickOn,
    playBigClickOff,
    playRandomPowerOn,
    mute,
    unmute,
  } from "../sounds/buttons";

  document.addEventListener("astro:page-load", () => {
    // Initialize sound state from localStorage
    const soundSetting = localStorage.getItem("sound");
    const isSoundOn = soundSetting === null ? true : soundSetting === "true";

    if (!isSoundOn) {
      mute();
    } else {
      unmute();
    }
    const powerButton = document.getElementById("power");
    const screen = document.querySelector(".screen");
    const channelDisplay = document.querySelector("channel-display");
    const menuButton = document.getElementById("menu-button");
    const homeButton = document.getElementById("home-button");
    const channelButtons = document.querySelectorAll(".channel-button");

    function updateButtonStates(powerState: string) {
      if (powerState === "off") {
        menuButton?.setAttribute("data-disabled", "true");
        homeButton?.setAttribute("data-disabled", "true");
        channelButtons.forEach((button) =>
          button.setAttribute("data-disabled", "true"),
        );
      } else {
        menuButton?.removeAttribute("data-disabled");
        homeButton?.removeAttribute("data-disabled");
        channelButtons.forEach((button) =>
          button.removeAttribute("data-disabled"),
        );
      }

      const isBooting = screen?.hasAttribute("data-booting");
      const isPoweringOff = screen?.hasAttribute("data-powering-off");

      if (isBooting || isPoweringOff) {
        powerButton?.setAttribute("data-disabled", "true");
      } else {
        powerButton?.removeAttribute("data-disabled");
      }
    }

    function handlePowerButtonClick(event: Event) {
      event.preventDefault();

      if (!screen) return;

      const isTurningOff = screen.getAttribute("data-power") === "on";

      Fathom.trackEvent(`controls: click power ${isTurningOff ? "off" : "on"}`);

      if (isTurningOff) {
        screen.setAttribute("data-powering-off", "true");
        updateButtonStates(screen.getAttribute("data-power") || "on");
      } else {
        screen.setAttribute("data-power", "on");
        screen.setAttribute("data-booting", "true");
        localStorage.setItem("power", "on");
        updateButtonStates("on");
      }

      const newPowerState = isTurningOff ? "off" : "on";
      powerButton?.setAttribute("data-power", newPowerState);
      channelDisplay?.setAttribute("data-power", newPowerState);
    }

    function handlePowerButtonPress() {
      const isTurningOff = screen?.getAttribute("data-power") === "on";
      isTurningOff ? playBigClickOn() : playRandomPowerOn();
    }

    function handlePowerButtonRelease() {
      // Only play big click release when turning off
      const isTurningOff = screen?.getAttribute("data-power") === "on";
      if (isTurningOff) {
        playBigClickOff();
      }
    }

    function handleChannelButtonClick(event: Event) {
      const button = event.currentTarget as HTMLAnchorElement;
      Fathom.trackEvent(
        `controls: click channel ${button.getAttribute("aria-label")}`,
      );
    }

    function initButtons() {
      const savedPowerState = localStorage.getItem("power") || "on";

      [screen, powerButton, channelDisplay].forEach((element) => {
        element?.setAttribute("data-power", savedPowerState);
      });

      updateButtonStates(savedPowerState);

      if (savedPowerState === "off") screen?.removeAttribute("data-booting");

      // Listen to screen animation events to update button states
      screen?.addEventListener("animationend", function (event) {
        if ((event as AnimationEvent).animationName === "power-off") {
          screen.setAttribute("data-power", "off");
          screen.removeAttribute("data-powering-off");
          localStorage.setItem("power", "off");
          updateButtonStates("off");
        }

        if ((event as AnimationEvent).animationName === "power-on") {
          screen.removeAttribute("data-booting");
          updateButtonStates(screen.getAttribute("data-power") || "on");
        }
      });

      if (powerButton) {
        powerButton.addEventListener("click", handlePowerButtonClick);
        powerButton.addEventListener("pointerdown", handlePowerButtonPress);
        powerButton.addEventListener("pointerup", handlePowerButtonRelease);
        powerButton.addEventListener("pointercancel", handlePowerButtonRelease);
      }

      channelButtons.forEach((button) => {
        button.addEventListener("click", handleChannelButtonClick);
        button.addEventListener("pointerdown", playRandomClickOn);
        button.addEventListener("pointerup", playRandomClickOff);
        button.addEventListener("pointercancel", playRandomClickOff);
      });

      if (menuButton) {
        menuButton.addEventListener("pointerdown", playRandomClickOn);
        menuButton.addEventListener("pointerup", playRandomClickOff);
        menuButton.addEventListener("pointercancel", playRandomClickOff);
      }

      if (homeButton) {
        homeButton.addEventListener("pointerdown", playRandomClickOn);
        homeButton.addEventListener("pointerup", playRandomClickOff);
        homeButton.addEventListener("pointercancel", playRandomClickOff);
      }
    }

    initButtons();
  });
</script>
