---
import type { ActiveProgram } from "@types";
import Buttons from "./Buttons.astro";
import ChannelDisplay from "./ChannelDisplay.astro";
import Logo from "./Logo.astro";

interface Props {
  channelId: string;
  activeProgram?: ActiveProgram | null;
}

const { activeProgram, channelId } = Astro.props;
---

<nav class="controls">
  <Buttons channelId={channelId} />
  <ChannelDisplay
    channelId={channelId}
    activeProgram={activeProgram}
    transition:persist="visitor-count"
  />
  <Logo />
</nav>

<style>
  .controls {
    background-color: #222222;
    box-shadow:
      inset 0 4px 16px rgba(255, 255, 255, 0.1),
      inset 0 2px 4px rgba(255, 255, 255, 0.1);
    color: white;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto;
    grid-template-areas: "buttons display logo";
    width: 100%;
    user-select: none;
    align-items: center;
    justify-items: space-between;
    gap: 1rem;
    height: 6rem;
    padding-inline: 1.5rem;
    position: relative;

    @media (width < 840px) {
      padding-inline: 1rem;
      justify-items: center;
      grid-template-areas: "buttons display";

      .logo {
        display: none;
      }
    }

    @media (width < 620px) {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      grid-template-areas:
        "display"
        "buttons";
      gap: 0.25rem;
      height: 10rem;
      padding-block: 0.5rem;
    }

    &::after {
      content: "";
      position: absolute;
      inset: 0;
      pointer-events: none;
    }

    /* Shadow */
    &::after {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.3),
        transparent,
        rgba(255, 255, 255, 0.1),
        transparent,
        rgba(0, 0, 0, 0.3)
      );
    }
  }
</style>
